<div class="container">
  <div class="row">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <button
          class="btn btn-outline-success"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Home</button>
        <button
          class="btn btn-outline-secondary"
          routerLink="/users"
          routerLinkActive="active">Users</button>
        <button
          class="btn btn-outline-primary"
          routerLink="/special"
          routerLinkActive="active">Special</button>
        <button
          class="btn btn-outline-primary"
          routerLink="/assesment1"
          routerLinkActive="active">Assignment 1</button>
        <button
          class="btn btn-outline-primary"
          routerLink="/accounts"
          routerLinkActive="active">Accounts</button>
        <button
          class="btn btn-outline-primary"
          routerLink="/bindings"
          routerLinkActive="active">Bindings</button>
        <button
          class="btn btn-outline-success"
          routerLink="/template-forms"
          routerLinkActive="active">Template-Driven Forms</button>
        <button
          class="btn btn-outline-primary"
          routerLink="/reactive-forms"
          routerLinkActive="active">Reactive Forms</button>
        <button
          class="btn btn-outline-success"
          routerLink="/student"
          routerLinkActive="active">Student Database</button>
        <button
          class="btn btn-outline-danger"
          routerLink="**"
          routerLinkActive="active">Classified</button>
      </form>
    </nav>

    <!--<nav>-->
      <!--<a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>-->
      <!--<a routerLink="/superheroes" routerLinkActive="active">Heroes</a>-->
      <!--<a routerLink="/admin" routerLinkActive="active">Admin</a>-->
      <!--<a routerLink="/login" routerLinkActive="active">Login</a>-->
      <!--<a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>-->
    <!--</nav>-->
  </div><br/>
</div>


